version: "3.9"

services:
  db:
    image: postgres:17
    container_name: booking_postgres
    restart: always
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: booking_app
    volumes:
      - db_data_booking:/var/lib/postgresql/data
      - ./db-init-scripts:/docker-entrypoint-initdb.d:ro
    networks:
      - booking_network

  pgadmin:
    image: dpage/pgadmin4
    container_name: booking_pgadmin
    restart: always
    ports:
      - "8082:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@local.dev
      PGADMIN_DEFAULT_PASSWORD: admin
    depends_on:
      - db
    networks:
      - booking_network

  app:
    image: ghcr.io/gloziksoft/booking-app:prod
    container_name: springboot_booking_app
    restart: always
    depends_on:
      - db
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: prod
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/booking_app
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: root
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE: health,info,prometheus
      MANAGEMENT_ENDPOINT_PROMETHEUS_ENABLED: "true"
    networks:
      - booking_network

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:v0.49.1
    container_name: booking_cadvisor
    restart: always
    ports:
      - "8081:8080"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    privileged: true
    networks:
      - booking_network

volumes:
  db_data_booking:

networks:
  booking_network:
    driver: bridge
