services:
  db:
    image: postgres:17
    restart: always
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: booking_app
    volumes:
      - db_data_booking:/var/lib/postgresql/data
      - ./db-init-scripts:/docker-entrypoint-initdb.d:ro
    networks:
      - booking_network

  pgadmin:
    image: dpage/pgadmin4
    restart: always
    ports:
      - "8082:80"
    depends_on:
      - db
    networks:
      - booking_network

  app:
    image: ghcr.io/gloziksoft/booking-app:1.0.0
    restart: always
    depends_on:
      - db
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: prod
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/booking_app
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: root
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
    networks:
      - booking_network
