services:
  db:
    image: postgres:17
    container_name: postgres_container_booking_app
    restart: always
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: booking_app
    volumes:
      - db_data_booking:/var/lib/postgresql/data
      - ./db-init-scripts:/docker-entrypoint-initdb.d:ro
    networks:
      - booking_network

  pgadmin:
    image: dpage/pgadmin4
    container_name: booking_pgadmin
    restart: always
    ports:
      - "8082:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: peto7724@gmail.com
      PGADMIN_DEFAULT_PASSWORD: root
    depends_on:
      - db
    networks:
      - booking_network

  app:
    image: ghcr.io/gloziksoft/booking_easyapp/booking-app:latest
    container_name: springboot_booking_app
    restart: always
    depends_on:
      - db
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: prod
      SPRING_APPLICATION_NAME: BookingApp
      MAIL_USERNAME: test@gloziksoft.sk
      MAIL_PASSWORD: Baxe32kh754!
    networks:
      - booking_network

volumes:
  db_data_booking:

networks:
  booking_network:
    driver: bridge

